#wrapper {
    width: 100vmin;
    height: 100vmin;
    
    margin: auto;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.18;
}

body {
    display: flex;
    background-color: black;
    margin: 1% 3% 0 5%;
    overflow: hidden;
}

.words {
    font-size:7.3vmin;
    margin: 0;
    padding: 0;
}



.dark {
    color: #2b2b2b;
}

.light, .permalight {
    color: white;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}
